@page
@model SW4BED_3.Pages.HotelModel
@{
}

<div class="text-center">
	<h1 class="display-4">Welcome to the Hotel</h1>
	<div>

		<form method = "Post">
			<label for="DateTime">Date:</label>
			<input type="date" id="DateTime" name="DateTime" asp-for="DateTime">
			<div>
				<label for="RoomNumber">Room number:</label>
				<input type="text" id="RoomNumber" name="RoomNumber" asp-for="Reservation.RoomNumber">
			</div>
			<div>
				<label for="Adults">Adults:</label>
				<input type="text" id="Adults" name="Adults" asp-for="Reservation.AdultsReservations"/>
			</div>
			<div>
				<label for="Children">Children:</label>
				<input type="text" id="Children" name="Children" asp-for="Reservation.KidsReservations" />
			</div>		
			<input type="submit">
		</form>

		@if (ViewData["Date"] != null && ViewData["RoomNumber"] != null && ViewData["Adults"] != null && ViewData["Children"] != null)
		{
			<table>
				<tr>
					<th>@ViewData["Date"]</th>
					<th>@ViewData["RoomNumber"]</th>
					<th>@ViewData["Adults"]</th>
					<th>@ViewData["Children"]</th>
				</tr>
			</table>
		}
		

	</div>
	

</div>
