@page
@model SW4BED_3.Pages.RestaurantModel
@{
}


<div class="text-center">
	<h1 class="display-4">Welcome to the Resturant</h1>
	
	<div>
		
		<form method = "Post">
			<label for="RoomNumer">RoomNumber:</label>
			<input type="number" id="RoomNumer" name="RoomNumer" asp-for="RoomNumber"><br>
			<label for="NrAdults">Adults:</label>
			<input type="number" id="NrAdults" name="NrAdults" asp-for="NrAdults"><br>
			<label for="NrChildren">Children:</label>
			<input type="number" id="NrChildren" name="NrChildren" asp-for="NrChildren"><br>
			<input type="submit">
		</form>

	</div>
	
	

</div>